/Teóricas
octmnist.npz
/Problemas/Teste_Pytorch.ipynb
Problemas/data
Homework2/skeleton_code/Results_q2
Homework2/skeleton_code/data
Homework2/skeleton_code/Results_q3a
Homework2/skeleton_code/Results_q3b
